<h1>Payment for <%= @order.number %> </h1>

<%= form_tag({controller: "payments", action: "create"}, method: "post") do %>
  <%= hidden_field_tag "order_number", @order.number %></td>
  <p>Card number:
    <%= text_field_tag "card_number" %>
  </p>

  <%= submit_tag("Pay", class: "btn btn-primary") %>
  <%= link_to 'Back', orders_path, class: "btn btn-default" %>
<% end %>
